button {
    margin-top: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem 5rem 8rem;
    align-items: center;
}

.hero-left {

    flex: 60%;
    /* padding-left: 3rem; */
    padding-right: 5%;
}

.hero-left h1{
    text-align: left;
}

.hero-right {
    flex: 40%;
    padding-left: 5%;
    display: flex;
}

.hero img {
    width: auto;
    max-height: 500px;
}

.hero h1 {
    font-size: 30px;
    padding-bottom: 1rem;
}

.view-projects {
    padding: 10px 35px;
}

@media only screen and (max-width: 1200px) {
    .hero img {
    max-height: 400px;
    }
  }


@media only screen and (max-width: 900px) {
    .hero img {
    max-height: 300px;
    }
  }

@media only screen and (max-width: 800px) {
    .hero {
        padding: 2rem 2rem 5rem 2rem;
    }
  }

  @media only screen and (max-width: 650px) {
    .hero {
        flex-direction: column;
        padding: 2rem 2rem 5rem 2rem;
        /* justify-content: center; */
    }

    .hero img {
        /* max-width: 50%; */
        /* height: auto; */
        padding-bottom: 5%;
        /* max-height: 300px; */
    }

    .hero-left {
        padding-right: 0;
        order: 2;
    }

    .hero-right {
        padding-left: 0;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 635px) {
      .project-info h3 {
          padding-top: 5%;
      }

      .hero img {
          /* max-width: 50%; */
          padding-bottom: 5%;
          display: block;
          margin-left: auto;
          margin-right: auto;
    }
  }

  @media only screen and (max-width: 400px) {


    .hero img {
        max-width: 70%;
  }
}