Link {
    padding: 0;
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 78px;
}

header {
    display: flex;
    font-weight: 600;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
}

.logo:hover {
    text-decoration: none;
}

nav a {
    font-size: 18px;
    font-weight: lighter;
}

header a {
    text-decoration: none;
    padding: 0 40px 0 0px;
}

/* nav button, main button {
    padding: 10px 35px;
    border-radius: 40px;
    border: none;
    background-color: var(--dark-gray);
    color: var(--off-white);
    font-size: 18px;
} */

header h1 {
    font-weight: bolder;
    justify-content: flex-start;
    font-size: 50px;
    letter-spacing: -3px;
    /* z-index: 99; */
}

h1:hover {

}

button:hover {
    cursor: pointer;
    opacity: 80%;
    transition: 500ms;
}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    /* width: 100%; */
    min-height: fit-content;
    align-content: space-around;
    z-index: 98;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 8%;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: auto;
    position: sticky;
    margin-top: 0px;
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    text-decoration: none;
}

.mobile-button {
    align-self: center;
    width: 100%;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -6px);
}

@media only screen and (min-width: 801px) {
    .mobile-nav {
        display: none;
        background-color: tomato;
    }

    .hamburger {
        display: none;
    }

}

@media only screen and (max-width: 800px) {
  .desktop-nav {
      display: none;
  } 
}
